In [1]:
import sys
import pandas as pd
import numpy as np
import tensorflow as tf
print(sys.version)

2.7.12 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:42:40)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

In [2]:
import imdb

# Create the object that will be used to access the IMDb's database.
ia = imdb.IMDb() # by default access the web.

# Search for a movie (get a list of Movie objects).
s_result = ia.search_movie('The Untouchables')

In [3]:
#movieratings = pd.read_csv('ratings.csv')

In [4]:
movies = pd.read_csv('moviesfull.csv')

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies.describe()

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

In [14]:
s_result

[<Movie id:0497080[http] title:_"Up Close and Personal" (????)_>,
 <Movie id:0683559[http] title:_"Real Access" Up Close and Personal (2004)_>,
 <Movie id:3227182[http] title:_"Ghost Adventures" Up Close and Personal (2013)_>,
 <Movie id:1178024[http] title:_"Doctors" Up Close and Personal (2008)_>,
 <Movie id:2861182[http] title:_"Live in 5" Up Close and Personal (2010)_>,
 <Movie id:1181801[http] title:_Clash: Up Close and Personal (2006) (V)_>,
 <Movie id:0977730[http] title:_Elvis - Up Close and Personal (2007) (V)_>,
 <Movie id:1349173[http] title:_"PokÃ©mon" Up Close and Personable! (2009)_>,
 <Movie id:0984991[http] title:_Killer Whales: Up Close and Personal (2000) (TV)_>,
 <Movie id:0462345[http] title:_House Doctor: Up Close and Personal (2005)_>,
 <Movie id:1133186[http] title:_"Real World" Mel and Danny Get Up Close and Personal (2005)_>,
 <Movie id:3616880[http] title:_In Studio: Up Close and Personal (2014) (TV)_>,
 <Movie id:0906669[http] title:_Tom Jones: Up Close and Personal (2005) (TV)_>,
 <Movie id:0481551[http] title:_India.Arie: Up Close and Personal (2002) (TV)_>,
 <Movie id:3355516[http] title:_Swan Lake: Swans Up Close and Personal (2011)_>,
 <Movie id:1467412[http] title:_Up Close and Personal with Natalie Merchant (2001) (TV)_>,
 <Movie id:0458516[http] title:_Up Close and Personal: The Search for Miss America (1999) (TV)_>,
 <Movie id:3850418[http] title:_"Maurice Jamal, Up Close and PERSONAL, Yeah Baby!! (2010) (TV Episode) - Dishing Tea with Big Meach" (2009) (mini)_>,
 <Movie id:5241148[http] title:_"ABC News Nightline" Up Close and Personal with 'America's Personal Trainer' (2010)_>,
 <Movie id:2670884[http] title:_"House Hunters International" A Long Distance Relationship Getting Up Close and Personal in Manchester (2013)_>]

In [ ]:
movies_skipped = []
for movie_name in movies['title']:
    movie_search_name = movie_name
    s_result = []
    
    while len(s_result) == 0 and len(movie_search_name) > 0:
        s_result = ia.search_movie(movie_search_name)
        movie_search_name = movie_search_name.rsplit(' ', 1)[0]
    try:
        if len(s_result) == 0:
            movies_skipped.append([movie_name])
            next
        guess_movie = s_result[0]
        ia.update(guess_movie)
        main_actor = guess_movie['cast'][0]
        print(main_actor)
    except:
        next

Tom Hanks
Robin Williams
Walter Matthau
Whitney Houston
Steve Martin
Al Pacino
Harrison Ford
Jonathan Taylor Thomas
Jean-Claude Van Damme

In [ ]:
s_result

In [ ]:
the_unt = s_result[0]
ia.update(the_unt)

# Print some information.
print the_unt['runtime']
print the_unt['rating']
director = the_unt['director']

In [ ]:
director[0]['name']

In [ ]:
the_unt.keys()

In [ ]:
the_unt['plot outline']

In [ ]:
the_unt['cast']